{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "bash -c 'cd extension && npm version ${nextRelease.version} --no-git-tag-version && npm ci && npm install -g @vscode/vsce && vsce package --out ../publish-release/ic11-${nextRelease.version}.vsix'"
      }
    ],
    [
        "@semantic-release/github",
        {
          "assets": [
            { "path": "./publish-release/ic11.exe", "label": "Win-x64" },
            { "path": "./publish-release/ic11-linux-x64", "label": "Linux-x64" },
            { "path": "./publish-release/ic11-osx-x64", "label": "macOS-x64" },
            { "path": "./publish-release/ic11-*.vsix", "label": "VSCode Extension" }
          ]
        }
      ],
    "@semantic-release/git"
  ]
}